.btn{
  font-family: "Raleway", sans-serif;
    background-color: #ad9175 !important;
    color: #fff;
    padding: 10px 20px;
    box-shadow: rgba(132, 104, 76, 0.2) 0px 4px 10px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-color: #3f4e60 !important;
  color: #fff !important;
  box-shadow: rgba(132, 104, 76, 0.4) 0px 6px 12px;
}